<router-outlet></router-outlet>

<h1>POKEMONS</h1>

<p class="loading" *ngIf="fetching">LOADING</p>

<div class="pokemon-container">
  <ul *ngIf="!fetching">
    <li *ngFor="let pokemon of pokemons">
      <p>
        {{ pokemon.name }}
      </p>
      <img
        src="{{ pokemon.sprites['front_default'] }}"
        alt="{{ pokemon.name }}"
      />
    </li>
  </ul>
</div>

<div class="button-container">
  <button (click)="fetchPreviousPokemons()">⬅️</button>
  <button (click)="fetchNextPokemons()">➡️</button>
</div>
